/autom4te.cache 
/depcomp
/aclocal.m4
/missing
/m4/
/config.guess
/config.sub
/install-sh
/configure
/config.h.in
/Makefile.in
/Makefile
.deps
.libs
/stamp-h1
*.o
*.lo
*.la
bin
/config.h
/config.log
/config.status
.dirstamp
/libtool
/ltmain.sh
libiscsi-*.tar.gz
TAGS
